.main-top {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bpm-no {
    font-size: 75px;
    font-weight: 500;
    margin-bottom: 0;
    color: #ec8109;
}

.bpm-unit {
    margin-top: 0;
    text-align: center;
}

.main-top_tempo {
    margin-top: 25px;
}
.main-top_tempo span {
    font-size: 27px;
    margin-top: 10px;
}